div[style="text-align: right"]
  p
    img[src="#{extra[:logo]}"]

p #{extra[:city]}, #{extra[:date]}

p Prezados Senhores,

p INFORMAMOS QUE A SRa. #{promoter.name}, PORTADOR DA CTPS #{promoter.work_id} SÉRIE #{promoter.work_serial} FAZ PARTE DO QUADRO FUNCIONAL DESTA EMPRESA, DESIGNADOPARA EXERCER A FUNÇÃO DE PROMOTOR NO(S) PRODUTO(S) #{extra[:product_name]} NO SETOR #{extra[:setor]} DESSE ESTABELECIMENTO.
p DECLARAMOS OUTROS SIM, QUE O REFERIDO #{promoter.name} NÃO POSSUI NENHUM VÍNCULO EMPREGATÍCIO COM O #{store.corporate_name} FICANDO SOB NOSSA RESPONSABILIDADE TODOS OS ENCARGOS TRABALHISTAS, PREVIDENCIÁRIOS E SECURITÁRIOS INCIDENTES.

p SALIENTAMOS QUE NOSSO FUNCIONÁRIO DEVERÁ ADEQUAR-SE AS NORMAS DESEGURANÇA DO TRABALHO NA EMPRESA, BEM COMO A UTILIZAÇÃO DE EPI CONFORME NECESSIDADE NA FUNÇÃO.

p SOLICITAMOS QUE QUALQUER OCORRÊNCIA ENVOLVENDO O FUNCIONÁRIO SEJA INFORMADO PARA SPOT TRABALHO TEMPORÁRIO ATRAVÉS DO TELEFONE #{extra[:phone]} COM #{extra[:contact_name]}.

p ATRIBUIÇÕES:


p ORGANIZAÇÃO E REPOSIÇÃO


p Atenciosamente,
br
br
br
p À

p = store.fantasy_name
